<div class="form-page-container">
  <div class="operation-box">
    <h1>Realizar Saque</h1>

    <% if @saldo_atual %>
      <div class="current-balance-info">
        Seu saldo atual é: <strong><%= number_to_currency(@saldo_atual, unit: "R$", separator: ",", delimiter: ".") %></strong>
      </div>
    <% end %>

    <%= form_with(url: realizar_saque_path, method: :post, local: true, data: { turbo: false }) do |form| %>
      <div class="field">
        <%= form.label :valor_saque, "Valor do Saque (R$):" %>
        <%= form.text_field :valor_saque, placeholder: "Ex: 50.00 ou 50,00", class: "form-input", type: "text", inputmode: "decimal" %>
      </div>
      <div class="actions" style="margin-top: 30px;">
        <%= form.submit "Sacar", class: "button-primary" %>
      </div>
    <% end %>
    <div class="form-links">
      <%= link_to "Cancelar e Voltar ao Painel", dashboard_path %>
    </div>
  </div>
</div>