<div class="form-page-container">
  <div class="operation-box">
    <h1>Realizar Depósito</h1>

    <%= form_with(url: criar_deposito_path, method: :post, local: true, data: { turbo: false }) do |form| %>
      
      <div class="field">
        <%= form.label :valor_deposito, "Valor do Depósito (R$):" %>
        <%= form.text_field :valor_deposito, placeholder: "Ex: 100.00 ou 100,00", class: "form-input", type: "text", inputmode: "decimal" %>
      </div>

      <div class="actions" style="margin-top: 30px;">
        <%= form.submit "Depositar", class: "button-primary" %>
      </div>
    <% end %>

    <div class="form-links">
      <%= link_to "Cancelar e Voltar ao Painel", dashboard_path %>
    </div>
  </div>
</div>